@font-face {
	font-family: 'ConcourseBold';
	src: url('./fonts/concourse/concourse_t3_bold-webfont.ttf') format('truetype'), url('./fonts/concourse/concourse_t3_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ConcourseRegular';
    src: url('./fonts/concourse/concourse_t3_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ConcourseRegularThin';
    src: url('./fonts/concourse/concourse_t2_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ConcourseIndex';
    src: url('./fonts/concourse/concourse_t3_index.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AdvocateRegular';
    src: url('./fonts/advocate/advocate_slab_c65_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}