{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block styles %}
{#  {{ super()}}#}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="../../static/css/custom.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/cooper-hewitt" type="text/css"/>
{% endblock %}

{% block navbar %}
  <nav class="white" role="navigation">
    <ul id="slide-out" class="side-nav fixed">
      <li>
        <h1 class="center">Estimation Stats</h1>
      </li>
      <li>Choose your plot</li>
      <li><div class="divider"></div></li>
      <li>Two groups</li>
      <li><a class="waves-effect plot-type" href="#!" onclick="changePlot(this, 'two-group-paired')">Paired</a></li>
      <li><a class="waves-effect plot-type active" href="#!" onclick="changePlot(this, 'two-group-unpaired')">Unpaired</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect plot-type hub-spoke" href="#!" onclick="changePlot(this, 'hub-spoke')">Hub and Spoke</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse side-menu"><i class="medium material-icons">menu</i></a>
    <div class="container">
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="navigationactionbarcontentscreentitle">Contrast Plot (Prototype)</a>
      </div>
      <div class="nav-sub-title">
        <span id="sub-title">Two groups unpaired</span>
      </div>
    </div>
  </nav>
{% endblock %}
{% block scripts %}
{#  {{ super()}}#}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(".button-collapse").sideNav();

    var plotNames = {
        'two-group-paired': 'Two groups paired',
        'two-group-unpaired': 'Two groups unpaired',
        'hub-spoke': 'Hub and Spoke'
    };
    var plotType = 'two-group-unpaired'; // Default is unpaired plot
    var changePlot = function(element, type) {
      plotType = type;

      // Hide sideNav
      $('.button-collapse').sideNav('hide');

      // Active selected type
      $('.plot-type').removeClass('active');
      $(element).addClass('active');

      // Change page title
      document.title = plotNames[plotType];
      $('#sub-title').text(plotNames[plotType]);
    };

  </script>
{% endblock %}
