{% extends "layouts/layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <h5>&nbsp;</h5>
    <form id="upload-file" action="#" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input id="file-id" type="file" name="file" accept=".csv">
        </div>
        <div class="file-path-wrapper">
          <input id="file-path" class="file-path validate" type="text">
        </div>
        <div class="file-upload">
          <a id="upload-file-btn" class="waves-effect waves-light"><i class="medium material-icons dp48">file_upload</i></a>
        </div>
      </div>
    </form>

    <div id="plot_container">
    </div>

    <div id="stats_table_container">
    </div>

    <div>
      <div class="progress loader">
          <div class="indeterminate"></div>
      </div>
    </div>

  </div>
  <div class="modal-overlay"></div>
  <div class="fixed-action-btn">
    <a id="download-file-btn" class="btn-floating btn-large waves-effect waves-light"><i class="medium material-icons dp48">file_download</i></a>
    <ul>
      <li><a class="btn-floating red" onclick="downloadFile('svg')"><i class="material-text">SVG</i></a></li>
      <li><a class="btn-floating yellow darken-1" onclick="downloadFile('png')"><i class="material-text">PNG</i></a></li>
      <li><a class="btn-floating green" onclick="downloadFile('csv')"><i class="material-text">CSV</i></a></li>
    </ul>
  </div>
{% endblock %}

{% block scripts %}
  {{ super()}}
  <script type="text/javascript">
    var csvDelimiter = ',';
    var file, downloadData;

    var uploadFile = function (file) {
      // Show loader
      $('.modal-overlay').show();
      $('.loader').show();

      // Create form data
      var form_data = new FormData(document.getElementById('upload-file'));
      form_data.append('file', file);
      var form = document.getElementById('upload-file');
      var formData = new FormData(form);
      $.ajax({
          type: 'POST',
          url: '/upload',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          async: true,
          success: function (data) {
              downloadData = data;
              $('#plot_container img').remove();
              var $plot = $('<img>');
              var img = 'data:image/png;base64,' + downloadData.png;
              $plot.attr('src', img);
              $plot.appendTo($('#plot_container'));

              $('#stats_table_container').html(data.table_html);
          },
          complete: function () {
              // Hide loader
              $('.modal-overlay').hide();
              $('.loader').hide();
          }
      });
    };

    var downloadFile = function(fileType) {
      if (file && downloadData) {
        var link = document.createElement('a');
        link.setAttribute('href', createFileContent(fileType));
        link.setAttribute('download', 'download_' + file.name.replace('.csv', '.' + fileType));
        link.click();
      }
    };

    var createFileContent = function(fileType) {
      var content  = '';
      if (fileType === 'csv') {
        content += 'data:text/csv;encoding:=utf-8,';
        content += csvDelimiter + downloadData.columns.join(csvDelimiter);
        downloadData.csv.forEach(function(rowData, index){
          content +=  '\n' + index + csvDelimiter + rowData.join(csvDelimiter);
        });
        content = encodeURI(content);
      } else {
        content += 'data:image/' + fileType + (fileType === 'svg' ? '+xml' : '') + ';base64,' + downloadData[fileType];
      }
      return content;
    };

    $(function () {
        $('#upload-file-btn').click(function () {
            file = $('#file-id')[0].files[0];
            if (file) {
              var fileExtension = file.name.split('.').pop();
              if (fileExtension === 'csv') {
                  uploadFile(file);
              }
            }
        });
    });
  </script>
{% endblock %}
